{{/* layouts/shortcodes/tweet.html */}}
{{- $url := .Get 0 -}}
{{- $theme := .Get "theme" | default "light" -}}
{{- if not $url -}}
  {{ errorf "tweet shortcode requires a tweet URL as the first param" }}
{{- end -}}

<div style="display: flex; justify-content: center;">
  <blockquote class="twitter-tweet" data-theme="{{ $theme }}" style="display: inline-block;">
    <a href="{{ $url | safeURL }}"></a>
  </blockquote>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

